<section
    class="elementor-section elementor-top-section elementor-element elementor-element-eac1def qodef-elementor-content-grid elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="eac1def" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a55d7c0"
            data-id="a55d7c0" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-dca16b2 elementor-widget__width-inherit elementor-widget elementor-widget-esmee_core_section_title"
                    data-id="dca16b2" data-element_type="widget" data-widget_type="esmee_core_section_title.default">
                    <div class="elementor-widget-container">
                        <div class="qodef-shortcode qodef-m  qodef-section-title qodef-alignment--left ">
                            <h6 class="qodef-m-subtitle" style="margin-bottom: -5px">{{ section.settings.subtitle }}
                            </h6>
                            <h1 class="qodef-m-title"> {{ section.settings.title }} </h1>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-974f63b elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                    data-id="974f63b" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <p>{{ section.settings.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-17e675f"
            data-id="17e675f" data-element_type="column">
            <div class="elementor-widget-wrap">
            </div>
        </div>
    </div>
</section>

<section
    class="elementor-section elementor-top-section elementor-element elementor-element-f2fa55e elementor-section-full_width qodef-elementor-content-grid elementor-section-height-default elementor-section-height-default"
    data-id="f2fa55e" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7ef8ac6"
            data-id="7ef8ac6" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-c4469c9 elementor-widget elementor-widget-esmee_core_product_category_list"
                    data-id="c4469c9" data-element_type="widget"
                    data-widget_type="esmee_core_product_category_list.default">
                    <div class="elementor-widget-container">
                        <div class="qodef-shortcode qodef-m  qodef-woo-shortcode qodef-woo-product-category-list qodef-item-layout--info-on-image-centered qodef-hover-animation--zoom-out qodef-appear-animation--yes qodef-grid qodef-layout--columns  qodef-gutter--normal qodef-col-num--1   qodef-item-layout--info-on-image-centered qodef-responsive--predefined"
                            data-appear-delay="0" data-parallax-distance="30" data-parallax-smoothness="60">
                            <ul class="qodef-grid-inner clear">
                                <li
                                    class="qodef-e qodef-parallax-item qodef-grid-item qodef-item--full product-category product first">
                                    <div class="qodef-e-inner">
                                        <div class="qodef-woo-category-image">
                                            <img loading="lazy" decoding="async" width="800" height="1074"
                                                src="vendor/uploads/2021/07/categories-4.jpg"
                                                class="attachment-full size-full" alt="g"
                                                srcset="https://esmee.qodeinteractive.com/vendor/uploads/2021/07/categories-4.jpg 800w, https://esmee.qodeinteractive.com/vendor/uploads/2021/07/categories-4-600x806.jpg 600w, https://esmee.qodeinteractive.com/vendor/uploads/2021/07/categories-4-223x300.jpg 223w, https://esmee.qodeinteractive.com/vendor/uploads/2021/07/categories-4-763x1024.jpg 763w, https://esmee.qodeinteractive.com/vendor/uploads/2021/07/categories-4-768x1031.jpg 768w"
                                                sizes="(max-width: 800px) 100vw, 800px" />
                                            <div class="qodef-woo-category-image-inner">
                                                <h1 class="taojaa-loop-category__title">
                                                    <a href="product-category/style/index.html">Style</a>
                                                </h1>
                                            </div>
                                            <a href="product-category/style/index.html"></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-c0387d5"
            data-id="c0387d5" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-37ca40b elementor-widget elementor-widget-esmee_core_product_category_list"
                    data-id="37ca40b" data-element_type="widget"
                    data-widget_type="esmee_core_product_category_list.default">
                    <div class="elementor-widget-container">
                        <div class="qodef-shortcode qodef-m  qodef-woo-shortcode qodef-woo-product-category-list qodef-item-layout--info-on-image-centered qodef-hover-animation--zoom-out qodef-appear-animation--yes qodef-grid qodef-layout--columns  qodef-gutter--normal qodef-col-num--1   qodef-item-layout--info-on-image-centered qodef-responsive--predefined"
                            data-appear-delay="260" data-parallax-distance="60" data-parallax-smoothness="30">
                            <ul class="qodef-grid-inner clear">
                                <li
                                    class="qodef-e qodef-parallax-item qodef-grid-item qodef-item--full product-category product">
                                    <div class="qodef-e-inner">
                                        <div class="qodef-woo-category-image">
                                            <img loading="lazy" decoding="async" width="800" height="1074"
                                                src="vendor/uploads/2021/07/categories-5.jpg"
                                                class="attachment-full size-full" alt="r"
                                                srcset="https://esmee.qodeinteractive.com/vendor/uploads/2021/07/categories-5.jpg 800w, https://esmee.qodeinteractive.com/vendor/uploads/2021/07/categories-5-600x806.jpg 600w, https://esmee.qodeinteractive.com/vendor/uploads/2021/07/categories-5-223x300.jpg 223w, https://esmee.qodeinteractive.com/vendor/uploads/2021/07/categories-5-763x1024.jpg 763w, https://esmee.qodeinteractive.com/vendor/uploads/2021/07/categories-5-768x1031.jpg 768w"
                                                sizes="(max-width: 800px) 100vw, 800px" />
                                            <div class="qodef-woo-category-image-inner">
                                                <h1 class="taojaa-loop-category__title">
                                                    <a href="product-category/summer/index.html">Summer</a>
                                                </h1>
                                            </div>
                                            <a href="product-category/summer/index.html"></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>