<div id="qodef-404-page">
    <span class="qodef-404-subtitle">Not Found</span>
    <h2 class="qodef-404-title">404 Error page</h2>
    <p class="qodef-404-text">The page you are looking for doesn't exist. It may have been moved or removed altogether.
        Please try searching for some other page, or return to the website's homepage to find what you're looking for.
    </p>
    <div class="qodef-404-button">
        <a class="qodef-shortcode qodef-m  qodef-button qodef-layout--filled  qodef-html--link" href="/" target="_self">
            <span class="qodef-m-text">Back to home</span>
        </a>
    </div>
</div>